
* {
    box-sizing: border-box;
}

/* Column container */
.rowAbout{
      width: 50%;
      margin: auto;
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      position: relative;

}
/* Column container */
.backbox {
    background-color: #202329;
    height: 692px;
    flex:70%;
}
.boxAbout{
  background-color: #d6d6d6;
  color: #202329;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10%;
  display: inline;
}

.aboutme{
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
}

.aside1 {
    margin-right: 5px;
    flex: 10%;
}


@media screen and (max-width: 1885px) {
  .rowAbout{
    width: 70%;
  }
}

@media screen and (max-width: 1350px) {
  .rowAbout{
    width: 90%;
  }
}

@media screen and (max-width: 1040px) {
  .rowAbout{
    width: 100%;
  }
  .backbox{
    flex: 100%;
  }
}



@media screen and (max-width: 700px) {
    .rowAbout, .navbar {
        flex-direction: column;
    }
}
