.button1{
 background-color: #d6d6d6;
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 18px;
 padding-right: 18px;
 color: black;
 border: 2px solid #eeeeee; /* Green */
 border-radius: 5px;
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
}

.button1:hover {
    background-color: #474747;
    color: white;
}
