* {
  box-sizing: border-box;
}

.rowCards {
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.card{
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.sbscard{
  flex:45%;
  margin-bottom: 2%;
}

.respimg{
  width: 100%;
  height: auto;
}
