@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
/*Positioning*/
.form {
  width: 80%;
  flex: auto;
}

.formbox{
  border-radius: 5%;
  border-color: #d6d6d6;
  border-width: thin;
}
/*Styling of text*/
.text1 {
  border-radius: 2%;
  border-color: #d6d6d6;
  border-width: medium;
  width: 80%;
  color: #282828;
}

/*Styling of text on focus*/
.text:focus {
  color: black;
}
