ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202329;
}

ul.topnav li {
  float: left;
}


ul.topnav li a {
    display: block;
    color: #d6d6d6;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}




ul.topnav li a:hover:not(.active) {color: #fafafa;}

ul.topnav li a.active {color: white;}

@media screen and (max-width: 600px){
    ul.topnav,
    ul.topnav li {float: none;}
}
