/*Navigation's display parameters */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202329;
}

/*Make navbar appear in a row*/
ul.topnav li {
  float: left;
}

/*Text inside navigation display parameters*/
ul.topnav li a {
  display: block;
  color: #d6d6d6;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/*Change colour when you hover over navigation elements */
ul.topnav li a:hover:not(.active) {
  color: #fafafa;
}

/*Change colour of active navigation element */
ul.topnav li a.active {
  color: white;
}

/*Responsiveness*/
@media screen and (max-width: 600px) {

  ul.topnav,
  ul.topnav li {
    float: none;
  }
}
